.achievement-item {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }
  
  .swiper-container {
    overflow: hidden;
  }
  
  .swiper-slide {
    position: relative;
    width: 100
  }